<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="GC">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00024619939328266 0.150838930266798 -0.000497088298818348"
        rpy="0 0 0" />
      <mass
        value="122.092710334633" />
      <inertia
        ixx="3.7669452280776"
        ixy="-0.00646755912932073"
        ixz="0.00317132797577638"
        iyy="6.7732794192064"
        iyz="0.0130583098611044"
        izz="3.441133324771" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_link_1">
    <inertial>
      <origin
        xyz="0 1.38777878078145E-17 0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.05032085459533E-19"
        ixz="1.42099558356963E-20"
        iyy="0.00229210600005911"
        iyz="-4.78502541560294E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_1"
    type="revolute">
    <origin
      xyz="0.2935 -0.18 0.08"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_2">
    <inertial>
      <origin
        xyz="0 1.38777878078145E-17 0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.05032085459533E-19"
        ixz="1.42099558356963E-20"
        iyy="0.00229210600005911"
        iyz="-4.78502541560294E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_2"
    type="revolute">
    <origin
      xyz="0.2935 0.18 0.08"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_3">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0 -0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-2.74438674910393E-19"
        ixz="6.84200644599715E-20"
        iyy="0.00229210600005911"
        iyz="-7.4955308468167E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_3"
    type="revolute">
    <origin
      xyz="-0.2935 -0.18 0.08"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_4">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 1.38777878078145E-17 -0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.3213713977167E-19"
        ixz="1.42099558356965E-20"
        iyy="0.00229210600005911"
        iyz="6.35985446824579E-21"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/wheel_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_4"
    type="revolute">
    <origin
      xyz="-0.2935 0.18 0.08"
      rpy="-1.5708 0 1.5708" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="line_link">
    <inertial>
      <origin
        xyz="-6.93889390390723E-18 1.38777878078145E-17 -0.138220449708882"
        rpy="0 0 0" />
      <mass
        value="1.09949619073592" />
      <inertia
        ixx="0.0035366386494099"
        ixy="-7.00173431439187E-19"
        ixz="-7.88794955279095E-20"
        iyy="0.0013181386494099"
        iyz="7.86046575051991E-20"
        izz="0.00346776285420644" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/line_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/line_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="line"
    type="prismatic">
    <origin
      xyz="0.0525 0.106 0.216"
      rpy="3.1416 0 0" />
    <parent
      link="base_link" />
    <child
      link="line_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1"
      upper="1"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0988134508022116 -0.0447821238375509 0.00818462866097147"
        rpy="0 0 0" />
      <mass
        value="0.298000879113616" />
      <inertia
        ixx="0.000332255250439969"
        ixy="0.000504848132945933"
        ixz="4.06573597239539E-05"
        iyy="0.00121742526011606"
        iyz="-1.84258610875798E-05"
        izz="0.00150941735277171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0 0 -0.20172"
      rpy="0 0 0" />
    <parent
      link="line_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="-0.0109573674942894 0.0106588447738483 5.55111512312578E-17"
        rpy="0 0 0" />
      <mass
        value="0.58398682899762" />
      <inertia
        ixx="0.00101900142131788"
        ixy="0.000657519336759442"
        ixz="-5.6615643820121E-19"
        iyy="0.00105533006227943"
        iyz="7.6878984917057E-19"
        izz="0.00163912949589206" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.17397 -0.078842 -0.0545"
      rpy="-3.1416 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-8.08850694750674E-05 -7.7894728112593E-05 -0.0351943560446614"
        rpy="0 0 0" />
      <mass
        value="0.222871773788512" />
      <inertia
        ixx="0.000158222112432887"
        ixy="-9.62941054290105E-06"
        ixz="-2.03806831226102E-07"
        iyy="0.000158947782628763"
        iyz="-1.96272041412216E-07"
        izz="0.000135435749225932" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="-0.070964 0.06903 0"
      rpy="1.5708 0 0.79921" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.0145254511747708 0.0509366550277066 2.44249065417534E-15"
        rpy="0 0 0" />
      <mass
        value="0.263988174644702" />
      <inertia
        ixx="0.000251042200733505"
        ixy="-6.28957453331269E-06"
        ixz="-1.14518854468781E-18"
        iyy="0.000230780017994041"
        iyz="-1.68051336735253E-18"
        izz="0.000164335442331243" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="-0.00036015 -0.00034683 -0.0465"
      rpy="-1.5708 -0.97721 -0.80423" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="-0.0390702836671196 -0.0247827911731201 -0.0326248381080529"
        rpy="0 0 0" />
      <mass
        value="0.168966963377511" />
      <inertia
        ixx="0.000150935927093023"
        ixy="-8.52641456140403E-05"
        ixz="-5.1988567861547E-05"
        iyy="0.000231271425707225"
        iyz="-3.29770275455541E-05"
        izz="0.000264912746004825" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5"
    type="revolute">
    <origin
      xyz="0.022761 0.079818 0"
      rpy="1.5708 -0.54333 -0.27779" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="-0.00603573649752309 -0.0374189311950067 0.0430000651872199"
        rpy="0 0 0" />
      <mass
        value="0.349895945126719" />
      <inertia
        ixx="0.000635323785149574"
        ixy="-5.30596149886004E-05"
        ixz="-3.11865105442866E-10"
        iyy="0.000314934238586777"
        iyz="-1.4557554633461E-10"
        izz="0.000453558074073961" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://rm26_engineer_description/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6"
    type="revolute">
    <origin
      xyz="0.036311 0.023033 -0.0405"
      rpy="1.5708 0.4276 -1.0055" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
</robot>