<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="rm26_arm">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.00024619939328266 0.000497088298818357 0.150838930266798"
        rpy="0 0 0" />
      <mass
        value="122.092710334633" />
      <inertia
        ixx="3.7669452280776"
        ixy="-0.00317132797577637"
        ixz="-0.0064675591293208"
        iyy="3.441133324771"
        iyz="-0.0130583098611042"
        izz="6.7732794192064" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.898039215686275 0.917647058823529 0.929411764705882 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
  <link
    name="wheel_link_1">
    <inertial>
      <origin
        xyz="0 1.38777878078145E-17 0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.05032085459533E-19"
        ixz="1.42099558356963E-20"
        iyy="0.00229210600005911"
        iyz="-4.78502541560294E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_1"
    type="revolute">
    <origin
      xyz="0.2935 -0.18 0.0799999999999999"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_2">
    <inertial>
      <origin
        xyz="0 1.38777878078145E-17 0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.05032085459533E-19"
        ixz="1.42099558356963E-20"
        iyy="0.00229210600005911"
        iyz="-4.78502541560294E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_2"
    type="revolute">
    <origin
      xyz="0.2935 0.18 0.0799999999999999"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_3">
    <inertial>
      <origin
        xyz="2.77555756156289E-17 0 -0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-2.74438674910393E-19"
        ixz="6.84200644599715E-20"
        iyy="0.00229210600005911"
        iyz="-7.4955308468167E-20"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_3"
    type="revolute">
    <origin
      xyz="-0.2935 -0.18 0.0799999999999999"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="wheel_link_4">
    <inertial>
      <origin
        xyz="-2.77555756156289E-17 1.38777878078145E-17 -0.03"
        rpy="0 0 0" />
      <mass
        value="1.20637157897848" />
      <inertia
        ixx="0.00229210600005911"
        ixy="-1.3213713977167E-19"
        ixz="1.42099558356965E-20"
        iyy="0.00229210600005911"
        iyz="6.35985446824579E-21"
        izz="0.00386038905273114" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/wheel_link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="wheel_4"
    type="revolute">
    <origin
      xyz="-0.2935 0.18 0.0799999999999999"
      rpy="-1.5707963267949 0 1.5707963267949" />
    <parent
      link="base_link" />
    <child
      link="wheel_link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-10"
      upper="10"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="line_link">
    <inertial>
      <origin
        xyz="6.24500451351651E-17 5.55111512312578E-17 -0.0434999999998822"
        rpy="0 0 0" />
      <mass
        value="1.09949619073592" />
      <inertia
        ixx="0.0035366386494099"
        ixy="-6.14340759450751E-19"
        ixz="-7.2280144832367E-20"
        iyy="0.0013181386494099"
        iyz="-7.2280144832367E-20"
        izz="0.00346776285420644" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/line_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/line_link.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="line"
    type="prismatic">
    <origin
      xyz="0.0524999999999999 0.106 0.216"
      rpy="3.14159265358979 0 0" />
    <parent
      link="base_link" />
    <child
      link="line_link" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="0.38"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_1">
    <inertial>
      <origin
        xyz="0.0699746284045319 0.0829040894919596 0.00818462866097153"
        rpy="0 0 0" />
      <mass
        value="0.298000879113616" />
      <inertia
        ixx="0.000887595684206338"
        ixy="-0.000661845402714015"
        ixz="2.87914612382839E-05"
        iyy="0.000662084826349691"
        iyz="3.41113619825736E-05"
        izz="0.00150941735277171" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_1.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_1.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J1"
    type="revolute">
    <origin
      xyz="0 0 -0.106999999999882"
      rpy="0 0 0" />
    <parent
      link="line_link" />
    <child
      link="link_1" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.52"
      upper="1.91"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_2">
    <inertial>
      <origin
        xyz="0.000101291482748511 0.015286092187136 8.88178419700125E-16"
        rpy="0 0 0" />
      <mass
        value="0.583986828997619" />
      <inertia
        ixx="0.00169487816875989"
        ixy="-8.71689003396192E-06"
        ixz="-3.31818450803798E-20"
        iyy="0.000379453314837419"
        iyz="-4.51726124075939E-19"
        izz="0.00163912949589205" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_2.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_2.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J2"
    type="revolute">
    <origin
      xyz="0.1232 0.14596 -0.0545"
      rpy="3.1416 0 0" />
    <parent
      link="link_1" />
    <child
      link="link_2" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-0.52"
      upper="2.61"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_3">
    <inertial>
      <origin
        xyz="-0.000112221467595153 -4.04046340157782E-06 -0.0351943560446648"
        rpy="0 0 0" />
      <mass
        value="0.222871773788512" />
      <inertia
        ixx="0.000148973654486171"
        ixy="-6.92995470278619E-07"
        ixz="-2.82765433133498E-07"
        iyy="0.000168196240575477"
        iyz="-1.01807916911651E-08"
        izz="0.000135435749225931" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_3.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_3.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J3"
    type="revolute">
    <origin
      xyz="0.000655997394275049 0.0989978265792674 0"
      rpy="1.5707963267949 0 -0.00662628479646784" />
    <parent
      link="link_2" />
    <child
      link="link_3" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-3.14"
      upper="3.14"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_4">
    <inertial>
      <origin
        xyz="0.00927688316747438 0.0521485474000727 -9.68669588985449E-15"
        rpy="0 0 0" />
      <mass
        value="0.263988174644703" />
      <inertia
        ixx="0.000252104193590036"
        ixy="-4.11249628033574E-06"
        ixz="1.11239248776131E-19"
        iyy="0.000229718025137513"
        iyz="4.7857361519868E-20"
        izz="0.000164335442331244" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_4.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_4.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J4"
    type="revolute">
    <origin
      xyz="-0.000499676236049573 -1.79905288163473E-05 -0.0465000000000025"
      rpy="-1.5707963267949 0.182122404429995 -1.53480750090966" />
    <parent
      link="link_3" />
    <child
      link="link_4" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="0"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_5">
    <inertial>
      <origin
        xyz="0.0461756846205636 0.00291203605391455 -0.0326248381080221"
        rpy="0 0 0" />
      <mass
        value="0.168966963377511" />
      <inertia
        ixx="9.75984952536745E-05"
        ixy="-1.18407647751363E-05"
        ixz="6.14433141541748E-05"
        iyy="0.000284608857546573"
        iyz="3.8748780350216E-06"
        izz="0.000264912746004824" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_5.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_5.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J5"
    type="revolute">
    <origin
      xyz="0.0145369266962608 0.0817170591873439 0"
      rpy="1.57079632679489 -1.53476796314872 -0.176051717388886" />
    <parent
      link="link_4" />
    <child
      link="link_5" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.39"
      upper="4.36"
      effort="0"
      velocity="0" />
  </joint>
  <link
    name="link_6">
    <inertial>
      <origin
        xyz="0.0064690236045567 0.0373464632938137 0.0430000009531121"
        rpy="0 0 0" />
      <mass
        value="0.349895945589167" />
      <inertia
        ixx="0.000634050858329448"
        ixy="-5.67586390606414E-05"
        ixz="2.98694711241486E-10"
        iyy="0.000316207190836963"
        iyz="1.10458735136122E-10"
        izz="0.000453558086295815" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_6.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.792156862745098 0.819607843137255 0.933333333333333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://GC3.1/meshes/link_6.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="J6"
    type="revolute">
    <origin
      xyz="-0.0429147465036577 -0.00270638735710615 -0.040500000000001"
      rpy="-1.5707963267949 0.101460063365565 -1.50781545764258" />
    <parent
      link="link_5" />
    <child
      link="link_6" />
    <axis
      xyz="0 0 -1" />
    <limit
      lower="-1.57"
      upper="1.57"
      effort="0"
      velocity="0" />
  </joint>
</robot>
